.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-top: 8px solid ;
  border-radius: 16px;
  background:rgb(248, 237, 216);
  padding: 80px;
  width: 600px;
}

.formLogin img {
  border-radius: 16px;
  width: 100px;
  height: auto;
}

.formLogin input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color:black;
  padding: 10px 24px;
  width: 100%;
  color:rgb(248, 237, 216);
  font-weight: 500;
  font-size: 18px;
}

.formLogin input::placeholder {
  color:#ffffff;
}

.formLogin button {
  border-radius: 16px;
  background-color:#F2613F;
  padding: 16px 32px;
  color:black;
  font-weight: bold;
  font-size: 16px;
}
